<h1 class="text-center my-4">Listing all articles</h1>

<div class="col-md-4 offset-md-5">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div class="col-md-4 offset-md-5">
  <%= will_paginate %>
</div>
